@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  height: 100vh;
  background-image: url("https://images.alphacoders.com/546/thumb-1920-546091.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.main {
  background-color: rgb(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  width: 650px;
  background: rgb(0, 0, 0, 0.6);
  border-radius: 5px;
  border: none;
  margin-top: 70px;
}

/* ----------------------form içerigi Başlık -------------------------------*/
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: aliceblue;
  margin: 30px 30px;
}

input.add-text {
  width: 300px;
  height: 30px;
  background: bisque;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.add-clear-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-clear-buttons i {
  padding: 0px 5px 0px 10px;
  font-size: 23px;
  cursor: pointer;
}

.fa-calendar-plus {
  color: greenyellow;
  font-size: 25px;
}

.fa-trash {
  color: rgb(255, 0, 0);
}

/*---------------------------- Todo içerigi Başlangıç------------------------------*/

.todo-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  margin: 10px 0px 10px 0px;
 
}

.fall {
  opacity: 0 ;
  transform: translateY(30px);
  transition: .5 all ease;
}

.text-container {
  padding: 8px 0px;
  background: rgb(202, 134, 7);
  border-radius: 5px;
  color: aliceblue;
  width: 400px;
  height: 27px;
  margin-right: 10px;
}

.todo-text {
  font-size: small;
  overflow: hidden;
  text-align: center;
  flex:  1 1 0%;
}

.todo-buttons {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-buttons li {
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  font-size: 20px;
  list-style: none;
}

.todo-complated {
  text-decoration: line-through;
  opacity: 2;
  background-color: darkgreen;
  transition:  all  0.5s ease;
}



/* ---------------------My Alert Box When İ add anything -----------------------------*/
.alert {
  background: rgb(202, 134, 7);
  color: aliceblue;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  border-radius: 4px;
  right: 10px;
  top: 5%;
  border-left: 8px solid #fff;
  display: none;
}

.alert .fa-circle-exclamation {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px;
}

.alert .message {
  padding: 0 20px;
  font-size: small;
  font-family: "Montserrat", sans-serif;
}

.alert .fa-circle-xmark {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 20px;
  cursor: pointer;
}

/*------------------Complete Alert-------------------- */

.alert-complated {
  background: rgb(31, 136, 31);
  color: #fff;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  border-radius: 4px;
  right: 10px;
  top: 5%;
  border-left: 8px solid #fff;
  display: none;
}

.alert-complated .fa-calendar-check,
.fa-calendar-xmark {
  padding: 0 10px;
  font-size: 25px;
}

.message-complete,
.message-delete {
  font-size: small;
}

/*-------------------Clear All ---------------------------*/

.alert-clear {
  background: darkred;
  color: #fff;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  border-radius: 4px;
  right: 10px;
  top: 5%;
  border-left: 8px solid beige;
  cursor: pointer;
  display: none;
}
